@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");

.circular {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

    width: 400px;
    height: 400px;
    /* border: 50px solid transparent; */
    border-radius: 50%;
    /* background: linear-gradient(#642669, #642669) content-box no-repeat,
      conic-gradient(#d20094 0%, 0, #00FFFF) border-box; */
    margin: 50px 0;
    font-family: "Outfit", sans-serif;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75)
}

.circular:after{
    content: attr(data);
    margin-top: -260px;
    font-size: 1.8em;
    padding: 30px;
}

.circular p:first-of-type{
    font-size: 1.2em;
    font-weight: 700;
}

.circular p:nth-of-type(2){
    font-size: 1.2em;
    color: #20f3f3;
    font-weight: 700;
    padding: 5px;
    line-height: 1.3em;
}

.circular p:nth-of-type(3){
   padding: 20px;
}

#result{
    display: flex;
    justify-content: center;
    align-items: center;
}


.text{
    font-size: 3.5em;
    color: white;
    width: 250px;
    font-family: "Outfit", sans-serif;
}

.text:first-of-type{
    text-align: left;
}

.text:last-of-type{
    text-align: right;
    color: lightgray;
}

.text p:first-of-type{
    font-size: 3.5rem;
    font-weight: 900;
}

.text p{
    font-size: 16px;
}

footer{
    margin-bottom: 80px;
}

button{
    border: 2px solid white;
    cursor: pointer;
}

button:hover{
    scale: 1.1;
}

.track{
    stroke: #D20094;
    fill: none;
    stroke-width: 50px;
}

.progress{
    stroke: #00FFFF;
    fill: none;
    stroke-width: 50px;
    transform: rotate(90deg);
    transform-origin: center;
}