@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");

/* font-family: 'Inter', sans-serif; */

body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
}

#logo {
  height: 150px;
}

#logo img {
  height: 30%;
  padding: 30px 100px;
}

main,
section,
footer {
  text-align: center;
}

h2 {
  font-size: 3.2em;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "Outfit", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
}

button {
  height: 50px;
  width: 200px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

.timer {
  text-align: center;
  width: 7em;
  height: 7em;
  border: 0.9em solid transparent;
  border-radius: 50%;
  background: linear-gradient(#642669, #642669) content-box no-repeat,
    conic-gradient(#9a6a9e 0%, 0, #00e9e9) border-box;
  margin: 2em 6em;
}

.timer h4 {
  font-size: 3.5em;
}

.timerCont {
  margin-top: 1.5em;
}
.timer p {
  font-size: 0.5em;
}
