@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');


h1{
    font-family: 'Outfit', sans-serif;
    font-size: 4em;   
}

.bold{
    font-weight: 700;
}

ul .bold{
    font-weight: 900;
    font-size: 1.1em;
}

#title{
    height: 160px;
    width: 400px;
}

main{
    padding-left: 100px;
    text-align: left;
}

h3{
    color: #d20094;
    font-family: 'Outfit', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 10px;
}

p, li, label{
    font-family: 'Inter', sans-serif;
}

#list{
    padding: 40px 35px;
    line-height: 1.6em;
    margin-bottom: 40px;
}

#new-check{
    text-align: left;
    /* display: block; */
    /* position: relative; */
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border: 2px solid white;
}

#new-check:hover input ~ .checkmark {
    background-color: #ccc;
  }

#new-check input:checked ~ .checkmark{
    background-color: white;
}

button{
    background-color: #00ffff;
    color: black;
    border: none;
    box-shadow: 0px 0px 15px 5px rgba(0,255,255,0.65);
    font-weight: 800;
}

label{
    padding-left: 30px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

#error-message{
    font-weight: 400;
    font-size: 0.8em;
    padding-top: 5px;
    height: 30px;
    width: 200px;
}

#error{
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 40px
}